<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Updated Successfuly</title>
    <!-- Include any other CSS or meta tags if needed -->
</head>
<body>
    <header>
        <h1>Account Updated Successfuly</h1>
    </header>
    <main>
        <p>Success! Your one step away from your first battle!</p>
        <p>Your profile details have been successfully added.</p>
        
        <!-- Button to redirect to the login page -->
        <a href="{{ url_for('login') }}" class="btn">Login</a>
    </main>
    <footer>
        &copy; 2023 Online Order System
    </footer>
</body>
</html>





